<h1 *ngIf="isAddMode">Добавить пользователя</h1>
<h1 *ngIf="!isAddMode">Редактирование профиля</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">Имя</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Введите имя!!!</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="lastName">Фамилия</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Введите фамилию!!!</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="username">Логин</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Введите логин!!!!</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="password">
                Пароль
                <em *ngIf="!isAddMode">(Оставьте поле пустым, чтобы сохранить тот же пароль)</em>
            </label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Введите пароль!!!</div>
                <div *ngIf="f.password.errors.minlength">Пароль должен быть не менее 6 знаков!!!</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Сохранить
        </button>
        <a routerLink="/users" class="btn btn-link">Отмена</a>
    </div>
</form>